@import "theme";
@import "grid";

body {
  margin: 0;
  background-color: $background-color;
  font-family: sans-serif;
}

div .home-container {
  max-width: 1280px;
  margin: 1em auto 0 auto;

  div .search {
    width: 100%;
    display: flex;
    justify-content: left;
    margin: 1em 0;
    border: 2px solid $text-color;
    border-radius: 10px;
    padding: 10px;

    input[type="search"] {
      width: 100%;
      border: none;
      background: transparent;
      outline: none;
      color: $text-color;
      margin-left: 6px;
      font-size: 20px;
    }

    i {
      font-size: 22px;
    }
  }

  div .side-nav-links,
  div .new-post,
  div .post,
  div .recommendations,
  div .trends {
    border: 2px solid $text-color;
    border-radius: 10px;
    padding: 15px;
  }

  div .side-nav,
  div .new-post,
  div .post,
  div .recommendations,
  div .trends {
    margin: 10px 0;
    width: fit-content;
    align-self: center;
  }

  div .side-nav {
    margin-top: 3em;
  }

  div .side-nav-links {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      color: $text-color;
      font-size: 1.5em;
      font-weight: bold;

      li {
        margin-bottom: 0.8em;
      }

      i {
        padding-right: 1em;
      }

      a {
        text-decoration: none;
        color: $text-color;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .show-more {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }

  div .feed {
    min-width: 500px;
  }

  div .new-post {
    width: 100%;
    margin-bottom: 3em;

    .profile-picture {
      flex: 0;
      margin-right: 10px;

      img {
        width: 4em;
      }
    }

    textarea {
      min-height: 4em;
      margin-bottom: 0.5em;
      background: transparent;
      outline: none;
      border: none;
      resize: vertical;
      font-family: sans-serif;
      font-size: 1em;
    }

    .multi-media {
      padding-left: 4.1em;
      font-size: 1.2em;
    }

    input[type="file"] {
      display: none;
    }

    .file-upload > i {
      cursor: pointer;
      font-size: 1.2em;
    }

    .file-upload > span {
      padding-left: 5px;
      font-size: 0.8em;
      color: #666;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    li {
      float: left;
      display: block;
      text-align: center;
      padding: 0 10px;
    }

    button {
      align-self: flex-end;
      border: 1px solid $text-color;
      border-radius: 10px;
      outline: none;
      height: 30px;
      width: 120px;
      background: $primary-color;
      color: #333;
      font-size: 1.5em;

      &:hover {
        cursor: pointer;
        background: #eb7d34;
      }
    }
  }

  div .post {
    width: 100%;

    .post-avatar {
      flex: 0;
      padding-right: 10px;

      img {
        width: 4em;
      }
    }

    .post-name {
      a {
        text-decoration: none;
        color: $text-color;

        &:hover .post-display-name {
          text-decoration: underline;
        }

        .post-display-name {
          font-weight: bold;
          padding-right: 3px;
        }

        .post-username {
          color: #666;
          font-size: 0.85em;
          text-decoration: none !important;
        }
      }
    }

    .post-date {
      font-size: 0.9em;
      color: #666;
    }

    .post-content {
      width: 100%;
      padding: 5px 0;
      font-size: 1em;
    }

    .mention {
      text-decoration: none;
      color: $primary-color;
    }

    .post-media {
      max-width: 100%;
      max-height: 300px;
      object-fit: cover;
    }
  }

  div .recommendations {
    min-width: 200px;
    padding: 0;
    margin-top: 4em;

    .title,
    .profile,
    .show-more {
      padding: 15px;
    }

    .title {
      display: flex;
      justify-content: center;
      border-bottom: 2px solid $text-color;
    }

    .recommendation {
      font-size: 1.3em;
      padding: 0.3em 0;
    }

    .profile {
      img {
        max-width: 36px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-right: 12px;
      }

      a {
        text-decoration: none;
        color: $text-color;

        &:hover .display-name {
          text-decoration: underline;
        }

        .display-name {
          font-size: 0.85em;
          font-weight: bold;
        }

        .username {
          color: #666;
          font-size: 0.65em;
          text-decoration: none !important;
        }
      }
    }

    i {
      padding-right: 1em;
    }

    .show-more {
      display: flex;
      justify-content: center;
      padding-top: 10px;
    }
  }

  div .trends {
    min-width: 200px;
    padding: 0;

    .title,
    .trend,
    .show-more {
      padding: 15px;
    }

    .title {
      display: flex;
      justify-content: center;
    }

    .trend {
      font-size: 1.3em;
      padding: 0.3em 0;
      border-top: 1px solid $text-color;
      height: 30px;
    }

    .show-more {
      display: flex;
      justify-content: center;
      padding-top: 10px;
    }
  }
}
