@import "theme";

nav {
  background-color: $primary-color;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;

  .brand {
    color: $text-color;
    font-size: 2em;
    font-weight: bold;
    line-height: 60px;
    padding-left: 10px;
    align-self: flex-start;

    img {
      height: 50px;
      padding-top: 5px;
    }
  }

  .icons {
    line-height: 60px;
    align-self: flex-end;
    padding-right: 10px;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: left;
    display: block;
    text-align: center;
    padding: 0 10px;
    font-size: 2em;

    a {
      color: $text-color;
      cursor: pointer;

      &:hover {
        color: $background-color;
      }
    }
  }
}
