@import "theme";
@import "grid";

div .profile-container {
  max-width: 1280px;
  margin: 1em auto 0 auto;

  div .profile-bio {
    border: 2px solid $text-color;
    border-radius: 10px;
    margin-top: 1em;
    padding: 15px;
    width: fit-content;
    min-width: 300px;
    align-self: center;

    img {
      width: 100px;
      border-radius: 50%;
    }

    .avatar,
    .name,
    .description,
    .birthday,
    .location,
    .joined {
      display: flex;
      justify-content: center;
    }

    .avatar,
    .name,
    .description,
    .joined {
      margin-bottom: 1em;
    }

    .birthday,
    .location {
      margin-bottom: 0.5em;
    }

    .edit {
      display: flex;
      justify-content: center;
      margin-bottom: 1em;

      a {
        font-size: 0.7em;
        color: #666;
        text-decoration: none;

        &:hover {
          color: $primary-color;
        }
      }
    }

    .name {
      font-weight: bold;
      margin-bottom: 0;
    }
  }

  div .profile-spotify {
    width: fit-content;
    min-width: 300px;
    align-self: center;
    margin-top: 1em;
  }

  div .search {
    width: 100%;
    display: flex;
    justify-content: left;
    margin: 1em 0;
    border: 2px solid $text-color;
    border-radius: 10px;
    padding: 10px;

    input[type="search"] {
      width: 100%;
      border: none;
      background: transparent;
      outline: none;
      color: $text-color;
      margin-left: 6px;
      font-size: 20px;
    }

    i {
      font-size: 22px;
    }
  }

  div .posts {
    border: 2px solid $text-color;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0;
    width: 100%;
  }

  div .post {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.25);

    .post-avatar {
      flex: 0;
      margin-right: 10px;

      img {
        width: 4em;
      }
    }

    .post-display-name {
      font-weight: bold;
    }

    .post-date {
      font-size: 0.9em;
      color: #666;
    }

    .post-content {
      width: 100%;
      padding-top: 5px;
      font-size: 1em;
    }
  }
}

div .profile-editor-container {
  max-width: 1280px;
  margin: 1em auto 0 auto;

  .heading {
    align-self: center;
    max-width: 600px;
    width: 600px;

    h1 {
      margin-bottom: 0;
    }
  }

  form {
    border: 2px solid $text-color;
    border-radius: 10px;
    margin-top: 1em;
    padding: 15px;
    align-self: center;
    text-align: end;
    min-width: 300px;
    max-width: 600px;
    width: 600px;
  }

  .label {
    font-weight: bolder;
    padding-right: 2em;
  }

  input,
  textarea,
  select {
    width: 400px;
    margin-bottom: 1em;
    background: transparent;
    border: none;
    border-bottom: 1px solid $text-color;
    outline: none;
    font-size: 1em;
    font-family: sans-serif;
  }

  textarea {
    resize: vertical;
  }

  button {
    align-self: flex-end;
    border: 1px solid $text-color;
    border-radius: 10px;
    outline: none;
    height: 30px;
    width: fit-content;
    background: $primary-color;
    color: #333;
    font-size: 1em;
    font-weight: bolder;

    &:hover {
      cursor: pointer;
      background: #eb7d34;
    }
  }
}
