body {
	margin: 0;
	padding:
	background-color: #ffffff;
	background-size: cover;
	background-position: center;
	font-family: sans-serif;
}

.forgotbox h1{
	margin: 0;
	padding: 0px 0px 20px;
	text-align: center;
	font-size: 20px:
}

::placeholder{
	color: black;
}

.logo {
	width: 100px;
	height: 100px;
	position: absolute;
	top: -10px;
	left: -10px;
}

.topborder{
	width: 100%;
	height: 10%;
	background: #eb8f34;
	position: absolute;
	top: 0%;
	left: -10px;
}

.forgotbox {
	width: 330px;
	height: 420px;
	background: #808080;
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	padding: 70px 30px;
}

.forgotbox input{
	width: 100%;
	margin-bottom: 20px;
}

.forgotbox input[type="text"] {
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
}

.forgotbox input[type="submit"] {
	border: none;
	outline: none;
	height: 40px;
	background: #eb8f34;
	color: #000;
	font-size: 18px;
}

.forgotbox input[type="submit"]:hover{
	cursor: pointer;
	background: #ffc107;
	color: #000;
}