.profileCard{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 	width: 20%;
 	height: 50%;
 	text-align: center;
 	left: 10%;
 	top: 30%;
 	position: absolute;
 	background: #808080;
}

.topborder{
	width: 110%;
	height: 10%;
	background: #eb8f34;
	position: absolute;
	top: 0%;
	left:-10px;
}

.profilePic {
	width: 100px;
	height: 100px;
	padding: 20px;
	position: relative;
}

.logo {
	width: 100px;
	height: 100px;
	position: absolute;
	top: -10px;
	left: -10px;
}

.settings {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 15px;
	right: 200px;
}

#name {
	color: black;
	font-size: 18px;
}

#recentPosts {
	font-weight: bold;
	color: black;
	text-align: center;
	font-size: 16px;
	font-style: sans-serif;
}

.posts {
	position: absolute;
	width: 50%;
	height: 60%;
	top: 30%;
	right: 10%;
	background: #808080;

}

.mediaPlayer {
	
}